.navbar-twweams {
  background: black;
  height: 50px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-twweams > h1 {
  margin: 0 15px;
  color: white;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  width: 36px;
  height: 40px;
}

.banner {
  background-size: cover !important;
  height: 95vh;
  background-position: bottom;
}

.form {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}

.form h1 {
  font-size: 25px;
  margin: 0 0 10px 0;
}

.form h2 {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.countdown {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown h1 {
  color: white;
  padding: 15px;
  font-size: 25px;
  background: rgba(20, 20, 20, 0.4);
}
